﻿@page
@model Temp.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblItemType[0].TypeName) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblItemType[0].GroupName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblItemType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ItemTypeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ItemTypeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ItemTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
