﻿@page
@model Temp.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TblItemType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TblItemType.TypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblItemType.TypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblItemType.GroupName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblItemType.GroupName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TblItemType.ItemTypeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
